<h1 align="center">Listing all Tips</h1>
<div align="center">

<%= will_paginate @articles, :page_link=>false  %>
</div>
<%=render 'article',obj: @articles%>
<div align="center">
  <%= will_paginate%>
</div>


