<div>
  <footer class="footer">
   <small>
     Copyright &copy; <a href="#"> Powerd By | ESSAM MOUHAMED</a>
   </small>
   <nav>
     <ul>
       <li><%=link_to '#' %></li>
     </ul>
   </nav>
  </footer>
</div>